@model RecordsViewModel

<div class="text-center">
    <h1>Burial Records page</h1>

    <p>This page contains all of the burial records exhumed by the Brigham Young University Egypt Excavation Project at the Fag el-Gamous ancient burial site.</p>
    <br />
    <p>
        On this page, you can view all of the records, click on "View Details" to see more details about a specific record. On this page, you can also filter by multiple categories to answer your research questions.
    </p>

</div>
<!--filters-->
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#foo">Filters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#bar">Search</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="foo">
                <div class="container">
                    @using (Html.BeginForm("BurialRecords", "Home", new { pageNum = 1 }, FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-3">
                                <input class="btn btn-primary" type="submit" value="Filter" />
                                @Html.ActionLink("Clear Filters", "BurialRecords", "Home", "", new { @class = "text-light btn btn-danger" })

                            </div>
                            <div class="col-9">
                                <div class="form-row">
                                    <div class="form-group col-3">
                                        <text>Burial Location NS </text>@Html.DropDownList("burialLocationNS", new SelectList(ViewBag.BurialLocationNS), "", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-3">
                                        <text>Burial Location EW </text>@Html.DropDownList("burialLocationEW", new SelectList(ViewBag.BurialLocationEW), "", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-3">
                                        <text>Length of Remains </text>
                                        <div class="row">
                                            <div class="form-group col-6 pr-0">
                                                @Html.TextBox("lengthLow", "min", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group col-6 pr-0">
                                                @Html.TextBox("lengthHigh", "max", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-3">
                                        <text>Gender </text>@Html.DropDownList("gender", new SelectList(ViewBag.Gender), new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-3">
                                        <text>Hair Color </text>@Html.DropDownList("hairColor", new SelectList(ViewBag.HairColor), new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-3">
                                        <text>Year Found </text>@Html.DropDownList("yearFound", new SelectList(ViewBag.yearFound), new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-3">
                                        <text>Length of Remains </text>
                                        <div class="row">
                                            <div class="form-group col-6 pr-0">
                                                @Html.TextBox("ageLow", "min", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group col-6 pr-0">
                                                @Html.TextBox("ageHigh", "max", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane" id="bar">
                @using (Html.BeginForm("BurialRecords", "Home", new { pageNum = 1 }, FormMethod.Get))
                {
                    <div class="form-group col-6 pr-0">
                        @Html.TextBox("searchString", "", new { @class = "form-control" })
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <br />  }
            </div>
        </div>
    </div>
</div>


<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th class="text-nowrap">Burial Location</th>
            <th class="text-nowrap">Burial Number</th>
            <th class="text-nowrap">Description</th>
            <th class="text-nowrap">Length of Remains</th>
            <th class="text-nowrap">Artifacts Description</th>
            <th class="text-nowrap">Hair Color</th>
            <th class="text-nowrap">Gender</th>
            <th class="text-nowrap">Estimated Age</th>
            <th class="text-nowrap">Date Found</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Records)
        {
            <tr>
                <td  class="text-nowrap">
                    <form asp-action="SingleRecord" method="get">
                        <input type="hidden" name="BurialId"
                               value="@x.BurialId" />
                        <button type="submit" class="btn btn-sm btn-primary">
                            View Details
                        </button>
                    </form>
                </td>
                <td class="text-nowrap">@x.BurialLocationNs @x.LowPairNs/@x.HighPairNs @x.BurialLocationEw @x.LowPairEw/@x.HighPairEw @x.BurialSubplot</td>
                <td>@x.BurialNumber</td>
                <td>
                    @if (x.BurialSituation != "")
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                View Description
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <text class="p-1">@x.BurialSituation</text>
                            </div>
                        </div>
                    }
                </td>
                <td class="text-nowrap">@x.LengthOfRemains</td>
                <td class="text-nowrap">@x.ArtifactsDescription</td>
                <td class="text-nowrap">@x.HairColor</td>
                <td class="text-nowrap">@x.GenderBodyCol</td>
                <td class="text-nowrap">@x.EstimateAge</td>
                <td class="text-nowrap">@x.MonthFound @x.DayFound, @x.YearFound</td>

                <!--is the user is authenticated, the button will show, if the user is not authenticated, then the button will be hidden-->


                @if (User.Identity.IsAuthenticated)
                {

                    //if logged in, edit and delete buttons will show
                    <td>

                        <!--edit button-->

                        <form asp-action="Edit" method="get">

                            <input type="hidden" name="BurialId"
                                   value="@x.BurialId" />
                            <button type="submit" class="btn btn-sm btn-primary">
                                Edit
                            </button>
                        </form>
                    </td>

                    <td>
                        <!--delete button-->
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="BurialId"
                                   value="@x.BurialId" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>


                }

                else
                {

                }

            </tr>
        }

    </tbody>
</table>
<caption>@Model.PageNumberingInfo.TotalNumItems records on @Model.PageNumberingInfo.NumPages pages</caption>

<div class="pagination" page-info="@Model.PageNumberingInfo" filters="@Model.Filters"></div>