@model RecordsViewModel

<h1>Burial Records page</h1>

<p>view all burial records and sort by different filters</p>

<!--filters-->

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <br />
        <button class="btn btn-outline-success">@Html.ActionLink("Add", "Add", "Home")</button>
    </form>
</nav>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Burial ID</th>
                <th>Burial Location (North/South)</th>
                <th>Burial Location (East/West)</th>
                <th>Length of Remains</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Records) { 
            <tr>
                <td>@x.BurialId</td>
                <td>@x.BurialLocationNs</td>
                <td>@x.BurialLocationEw</td>
                <td>@x.LengthOfRemains</td>
                <td><button class="btn btn-outline-success my-2 my-sm-0">@Html.ActionLink("Edit", "Edit", "Home")</button></td>
                <td><button class="btn btn-outline-success my-2 my-sm-0">@Html.ActionLink("Delete", "Delete", "Home")</button></td>
            </tr>
            }
            
        </tbody>
    </table>
    <div class="pagination" page-info="@Model.PageNumberingInfo"></div>
