@model RecordsViewModel

<h1>Burial Records page</h1>

<p>view all burial records and sort by different filters</p>


<!--filters-->
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#foo">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#bar">Bar</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="foo">
                <div class="container">
                    @using (Html.BeginForm("BurialRecords", "Home", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-3">
                                <h4>Filters:</h4>
                                <input class="btn btn-primary" type="submit" value="Filter" />
                                <button class="btn">Clear Filters</button>
                            </div>
                            <div class="col-9">
                                <div class="form-row">
                                    <div class="form-group col-4">
                                        <text>Burial Location NS </text>@Html.DropDownList("burialLocationNS", new SelectList(ViewBag.BurialLocationNS), new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-4">
                                        <text>Burial Location EW </text>@Html.DropDownList("burialLocationEW", new SelectList(ViewBag.BurialLocationEW), new { @class = "form-control" })
                                    </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-4">
                                            <text>Gender </text>@Html.DropDownList("gender", new SelectList(ViewBag.Gender), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-4">
                                            <text>Hair Color </text>@Html.DropDownList("hairColor", new SelectList(ViewBag.HairColor), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                     }
                </div>
            </div>
            <div class="tab-pane" id="bar">BAR</div>
        </div>
    </div>
</div>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <br />
        <button class="btn btn-outline-success">@Html.ActionLink("Add", "Add", "Home")</button>
    </form>
</nav>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Burial Location</th>
            <th>Burial Number</th>
            <th>Description</th>
            <th>Length of Remains</th>
            <th>Artifacts Description</th>
            <th>Hair Color</th>
            <th>Gender</th>
            <th>Estimated Age</th>
            <th>Date Found</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Records) { 
        <tr>
            <td>View Details</td>
            <td>@x.BurialLocationNs @x.LowPairNs/@x.HighPairNs @x.BurialLocationEw @x.LowPairEw/@x.HighPairEw @x.BurialSubplot</td>
            <td>@x.BurialNumber</td>
            <td>
                @if (x.BurialSituation != "")
                {
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            View Description
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @x.BurialSituation
                        </div>
                    </div>
                }
            </td>
            <td>@x.LengthOfRemains</td>
            <td>@x.ArtifactsDescription</td>
            <td>@x.HairColor</td>
            <td>@x.GenderBodyCol</td>
            <td>@x.EstimateAge</td>
            <td>@x.MonthFound @x.DayFound, @x.YearFound</td>
            <td>
                <!--edit button-->
                <form asp-action="Edit" method="get">
                    <input type="hidden" name="BurialId"
                           value="@x.BurialId" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Edit
                    </button>
                </form>
            </td>
            <td>
                <!--delete button-->
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="BurialId"
                           value="@x.BurialId" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
            
    </tbody>
</table>
<div class="pagination" page-info="@Model.PageNumberingInfo"></div>