
@{
}
@model MainTbl
<div class="row">
    <h2 class="col-4">Burial Details</h2>
    @if (User.Identity.IsAuthenticated)
    {

        //if logged in, edit and delete buttons will show
        <!--edit button-->
        <div class="col-8 align-content-start">
        <form class="m-1" asp-action="Edit" method="get">

            <input type="hidden" name="BurialId"
                   value="@Model.BurialId" />
            <button type="submit" class="btn btn-sm btn-primary">
                Edit
            </button>
        </form>
        <!--delete button-->
        <form class="m-1" asp-action="Delete" method="post">
            <input type="hidden" name="BurialId"
                   value="@Model.BurialId" />
            <button type="submit" class="btn btn-sm btn-danger">
                Delete
            </button>
        </form>
    </div>

    }
</div>
<div class="card">
    <!--burial location-->
    <div class="card-body">
        <h3>Burial Location Details</h3>
        <h5 class="card-title text-primary">Burial Location</h5>
        <p class="card-text pl-2">@Model.BurialLocationNs @Model.LowPairNs/@Model.HighPairNs @Model.BurialLocationEw @Model.LowPairEw/@Model.HighPairEw @Model.BurialSubplot</p>


        <!--burial number-->
        <h5 class="card-title text-primary">Burial Number</h5>
        <p class="card-text pl-2">@Model.BurialNumber</p>
    </div>

</div>

<div class="card">
    <!--south to head-->
    <div class="card-body">
        <h3>Orientation of Burial</h3>
        <h5 class="card-title text-primary">South to Head </h5>
        <p class="card-text pl-2">@Model.SouthToHead</p>

        <!--south to feet-->

        <h5 class="card-title text-primary">South to Feet </h5>
        <p class="card-text pl-2">@Model.SouthToFeet</p>

        <!--east to head-->
        <h5 class="card-title text-primary">East to Head </h5>
        <p class="card-text pl-2">@Model.WestToHead</p>

        <!--east to feet-->
        <h5 class="card-title text-primary">East to Feet </h5>
        <p class="card-text pl-2">@Model.WestToFeet</p>

        <!--legnth-->
        <h5 class="card-title text-primary">Length of Remains</h5>
        <p class="card-text pl-2">@Model.LengthOfRemains</p>
        <!--depth-->
        <h5 class="card-title text-primary">Burial Depth </h5>
        <p class="card-text pl-2">@Model.BurialDepth</p>

    </div>
</div>

<div class="card">
    <!--photo yes no-->
    <!--burial goods yes no (references artifact found)-->
    <div class="card-body">
        <h3>Miscellaneous Information </h3>
        <h5 class="card-title text-primary">Artifact Found? </h5>
        <p class="card-text pl-2">@Model.ArtifactFound</p>
        <!--Hair color-->
        <h5 class="card-title text-primary">Hair color or specimen </h5>
        <p class="card-text pl-2">@Model.HairColor</p>

        <!--AGE-->
        <!--<div class="form-group">
            <h5 asp-for="AGE">Estimated Age (at time of death) </h5>
            <select class="form-control col-3" asp-for="EstimateAge">
                <option value="">Select One</option>
                <option value="Adult">Adult</option>
                <option value="Child">Child</option>
                <option value="Neonate/Infant">Infant</option>
            </select>
        </div>
            -->
        <!--excavation recorder-->
        <!--<div class="form-group">
            <h5 asp-for="RecorderName">Researcher </h5>
                <input class="form-control col-3" asp-for="RecorderName" />

        </div>
            -->
        <!--Date-->
        <h5 class="card-title text-primary">Date Exhumed </h5>
        <p class="card-text pl-2">@Model.MonthFound @Model.DayFound, @Model.YearFound</p>
    </div>
</div>